<ion-view hide-nav-bar="true">
  <ion-content>
    <img class="img-responsive" src="./img/citi_bluewave_sd.png"/>

    <div class="container">
      <div class="row" ng-show="showScanning">
        <div id="pulse" class="pulse">
          <h4 id="scan">Scanning for Devices</h4>

          <div id='pulse1'></div>
          <div id='pulse2'></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span ng-show="showDeviceList">Devices Connected</span>
        <ion-list>
          <ion-item class="" ng-repeat="device in devices" type="item-text-wrap" ng-if="showDeviceList">
            <h2>{{device.deviceName}}</h2>

            <p>{{device.deviceId}}</p>
          </ion-item>
        </ion-list>
      </div>
    </div>
   <!-- <div class="container">
      <div class="row">
        <div class="col-md-12">
          &lt;!&ndash; <button class="button btn" ng-click="scan()">Scan</button>&ndash;&gt;
        </div>
      </div>
    </div>
    <div class="list card" ng-model="account" ng-if="showAccount">
      <div class="item item-divider">User Account Initiating Connection</div>
      <div class="item item-body">
        <div>
          {{account.userId}}
        </div>
      </div>
    </div>-->


  </ion-content>
</ion-view>
