<ion-view hide-nav-bar="true">
  <ion-content>
    <img class="img-responsive" src="./img/citi_bluewave_sd.png"/>

    <div class="container">
      <div class="row">
        <div class="col-md-12 margin-top-xl">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h1>Begin Registration</h1>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 margin-top-lg">
            <button class="btn btn-primary btn-lg btn-block round" ng-click="scan()">Scan</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 margin-top-lg">
          <h3 ng-if="showDeviceList">Devices Found</h3>
          <ion-list>
            <ion-item class="" ng-repeat="device in devices" type="item-text-wrap" ng-if="showDeviceList">
              <h2>{{device.name}}</h2>

              <p>{{device.deviceId}}</p>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
