<ion-view hide-nav-bar="true">
  <ion-content>
    <img class="img-responsive" src="./img/citi_bluewave_sd.png"/>

    <div class="container">
      <div class="row">
        <div class="col-md-12 margin-top-xl">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h1>Begin Registration</h1>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 margin-top-lg">
            <button class="btn btn-primary btn-lg btn-block round" ng-click="scan()">Scan</button>
          </div>
        </div>
      </div>
      <div class="row" ng-show="showDeviceList">
        <div class="col">
          <h1>Devices Found</h1>
          <div class="list" style="margin-left:20px;" ng-repeat="device in devices track by $index">
            <div class="item item-divider list-header">Device {{$index+1}}</div>
            <div class="item item-body list-body">
              <p style="color:black;font-size:16px;margin-top:0">Device Name: {{device.name}}</p>
              <p style="color:black;font-size:16px;">Device Id: {{device.deviceId}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
