<ion-view hide-nav-bar="true">
  <ion-content>
    <img class="img-responsive" src="./img/citi_bluewave_sd.png"/>

    <div class="container">
      <div class="row" ng-show="showScanning">
        <div id="pulse" class="pulse">
          <h4 id="scan">Scanning for Devices</h4>

          <div id='pulse1'></div>
          <div id='pulse2'></div>
        </div>
      </div>
    </div>
 <!--   <div class="row">
      <div class="col">{{orientation.magneticHeading}}</div>
      <div class="col">{{orientation.timestamp}}</div>
    </div>-->
    <div class="row" ng-show="showDeviceList">
      <div class="col">
        <h1>Devices Connected</h1>
        <div class="list" style="margin-left:20px;" ng-repeat="device in devices track by $index">
          <div class="item item-divider list-header">Device {{$index+1}}</div>
          <div class="item item-body list-body">
            <p style="color:black;font-size:16px;margin-top:0">Device Name: {{device.deviceName}}</p>
            <p style="color:black;font-size:16px;">Device Id: {{device.deviceId}}</p>
          </div>
        </div>
      </div>
    </div>
  <!-- <div class="container">
      <div class="row">
        <div class="col-md-12">
          &lt;!&ndash; <button class="button btn" ng-click="scan()">Scan</button>&ndash;&gt;
        </div>
      </div>
    </div>-->
    <!--<div class="list card" ng-model="account" ng-if="showAccount">
      <div class="item item-divider">User Account Initiating Connection</div>
      <div class="item item-body">
        <div>
          {{account.userId}}
        </div>
      </div>
    </div>-->


  </ion-content>
</ion-view>
